#Browsers
Evolution= 
firefox= 
Navigator=
Chromium= 
firefoxdeveloperedition=
Google-chrome=

#Chat clients
Mumble=
discord=
quassel= 
TelegramDesktop=
Rocket.Chat=
Riot=
Gajim=

#Programming / IDEs
Cutter= 
Hopper= 
Designer-qt4= 
processing-app-Base= 
Subl3= 
jetbrains-pycharm=
Code=
Code - Insiders=
Zim= 
Atom=
code-oss=
Gitk=
burp-StartBurp= 
GitKraken=

#Productivity
libreoffice= 
Abiword= 
Evince= 
libreoffice-calc=
libreoffice-writer=
evience= 
Thunderbird=
TeXstudio=
Zotero=

#Utility
Arandr= 
cura= 
Pavucontrol= 
Keepassx2= 
Nautilus= 
Thunar= 
Wireshark-gtk= 
QtCreator= 
wireshark-gtk= 
simple-scan= 
Lxappearance= 
Nm-connection-editor= 
Mysql-workbench-bin=
Blueman-manager=
Seahorse= 
JDownloader= 
Brasero= 

#VMs
VirtualBox Manager= 
Virt-manager= 
VirtualBox Machine= 
VirtualBox= 

#Graphics
Inkscape= 
krita= 
gimp= 
Gimp=

#Games
Minecraft 1.11.2= 
net-minecraft-bootstrap-Bootstrap= 
Steam=
factorio=

#Terminal emulators
Xfce4-terminal= 
XTerm= 
kitty= 
Termite=
URxvt=

#CAD 
OpenSCAD= 
Slic3r= 
LibreCAD= 
kicad= 

#Media
vlc= 
pantheon-music= 
MellowPlayer= 
rhythmbox= 
Audacity=

#Misc
sun-awt-X11-XFramePeer= 
